{% extends "base.html" %}
{% load i18n %}

{% block body %}

<div class="prepend-2 span-20 append-2 last {{ LANGUAGE_CODE }}">
	
	<h1>
		{% blocktrans %}
		Available districts and schools:
		{% endblocktrans %}
	</h1>
	
	{% for district in districts %}
	
		<h2><a href="{{ district.slug }}" title="{{ district.name }}">{{ district.name }}</a></h2>
		
		<ul>
		{% for school in district.school_set.select_related %}
		
			<li><a href="{{ district.slug }}/{{ school.slug }}">{{ school.name }}</a></li>
		
		{% endfor %}
		</ul>
	
	{% endfor %}
	
	
</div>

{% endblock %}