{% extends "base.html" %}
{% load i18n %}

{% block container %}

<div class="span12">
    <h2>{% trans "About the Massachusetts Safe Routes to School Program" %}</h2>
    
    <p>
        The Massachusetts <a href="http://www.saferoutesinfo.org/" title="Safe Routes to School">Safe Routes to School (SRTS)</a> program partners with schools throughout the Commonwealth to help plan and implement programs that increase student walking and biking activities.  The program’s goals are to reduce traffic congestion and air pollution near schools while increasing the health, safety, and physical activity of students.
    </p>
    
    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#about">Read more...</button>
	<div id="about" class="collapse">
		<p>
	        Evaluating trends in how students and families choose to travel to school is a key component to building a successful Safe Routes to School program.  Parent responses to this survey provide valuable information and help determine how we can improve the environment around the school, target investments, track progress toward goals and ultimately develop local programs that benefit students, parents and our communities.
	    </p>
	    <p>
	        Massachusetts Safe Routes to School is a federally funded initiative of the Massachusetts Department of Transportation (MassDOT).  Over 600 elementary and middle schools, reaching over 270,00 students in 170 communities throughout the Commonwealth participate.  Established in 2006, SRTS encourages elementary and middle school students to walk and bicycle to school safely by implementing the Safe Routes Five E’s: Education, Encouragement, Enforcement, Evaluation and Engineering.
	    <p>
	    <p>
	        Safe Routes to School technical services and program offerings include:
	        <ul>
	            <li>SRTS task force formation</li>
	            <li>Pedestrian and bicycle safety education and training</li>
	            <li>Middle school pedestrian safety mentor training</li>
	            <li>SRTS encouragement activities</li>
	            <li>SRTS gear and incentive items</li>
	            <li>Infrastructure assessments and improvements</li>
	            <li>Middle school PhotoVoice workshop series</li>
	            <li>Walking School Bus toolkit and development</li>
	            <li>School walking and biking assessments</li>
	            <li>SRTS program evaluation</li>
	            <li>Summer program</li>
	        </ul>
	    </p>
	</div>
    
    <h3>Survey Administration</h3>
    
    <p>
        Safe Routes to School staff will assist partner schools with the administration of this 3-minute, online survey. Informational and marketing materials are available for schools to make parents aware of the online survey tool and provide them with a link to the survey.  Paper versions of the survey are also available and Safe Routes to School program staff can assist with the survey collection process.  Both the online and paper versions are available in multiple languages.  School administrators can have direct access to survey results and reports through an administrative login on the website and program staff can also assist with report generation and the presentation of results.
    </p>
        
    <h3>Survey Results</h3>
    
    <p>School and district level reports include a summary of the results accompanied by maps, tables, and charts. The reports are available to school and community officials.  For more information, please contact MassDOT’s Safe Routes to School program at 857-368-8650.</p>

    <h3>Survey Development</h3>

    <p>The original design and development of the Safe Routes to School survey tool was a collaborative effort of <a href="" title="Metropolitan Area Planning Council">Metropolitan Area Planning Council</a> (MAPC) and <a href="http://www.walkboston.org/" title="WalkBoston">WalkBoston</a> with support from the <a href="http://www.barrfoundation.org/" title="Barr Foundation">Barr Foundation</a>. In 2012, MAPC and WalkBoston published Kids are Commuters Too!, a report assessing the walkability of more than 800 schools in Metro Boston and describing the results of surveys received from 4,500 students in seven school districts. To read the report or learn more about the analysis, visit www.mapc.org/srts.</p>

    <h3>About MassDOT</h3>

    <p>The Massachusetts Department of Transportation (MassDOT) operates the Commonwealth’s Safe Routes to School program with funds from the Federal Highway Division. Safe Routes to School models of inclusiveness emphasize a collaborative, community-focused approach that fosters mutual partnerships between advocacy groups, law enforcement, education leaders and public health departments which all work together to promote safer routes for children to get to school. </p>
    
    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#dot">Read more...</button>
    <div id="dot" class="collapse">
        <p>The Safe Routes to School program is a key component of the Healthy Transportation Compact and MassDOT’s GreenDOT plan. The Health Transportation compact is a ground-breaking collaboration between the departments of transportation, health and human services, and energy and environmental affairs that is designed to promote best practices, increase efficiency, and achieve positive health outcomes through the coordination of land use, transportation and public health policy. GreenDOT calls for MassDOT to incorporate sustainability into all of its activities, from strategic planning to project design and construction to system operation. The GreenDOT policy initiative includes greenhouse gas reduction targets mandated under the Global Warming Solutions Act, signed by Governor Deval Patrick in 2008. </p>
    </div>
    
    <h3>About the National Center for Safe Routes to School</h3>

    <p>Established in May 2006, the National Center for Safe Routes to School assists states and communities in enabling and encouraging children to safely walk and bicycle to school. The National Center serves as the information clearinghouse for the federal Safe Routes to School program. The organization also provides technical support and resources and coordinates online registration efforts for Walk to School Day and Bike to School Day in the U.S.A. and facilitates worldwide promotion and participation in International Walk to School Day. The National Center is part of the University of North Carolina Highway Safety Research Center with funding from the U.S. Department of Transportation Federal Highway Administration. For more information, visit www.saferoutesinfo.org.</p>
    
    
</div>

{% endblock %}