{% extends "base.html" %}
{% load i18n %}

{% block title %}Form - {{block.super}}{% endblock %}

{% block javascript %}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.shuffle.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.cookie.js" type="text/javascript"></script>

<link rel="stylesheet" href="{{ STATIC_URL }}js/chosen/chosen.css">
<script src="{{ STATIC_URL }}js/chosen/chosen.jquery.js" type="text/javascript"></script>

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
<![endif]-->
<script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>

<script src="http://maps.google.com/maps/api/js?v=3.2&amp;sensor=false&amp;language={{ LANGUAGE_CODE }}"></script>
<script src="{{ STATIC_URL }}js/Leaflet.Google.js"></script>

<script type="text/javascript">

var set_home = null;
var intersections = null;
var map = null;
$(document).ready(function() {

    // check if cookies are enabled
    $.cookie('test_cookie', 'testing', { path: '/' });
    if ($.cookie('test_cookie') !== 'testing') {
        alert("Please allow cookies for this site in your browser, otherwise the survey form might not work. Thank you!");
    }

{% if school %}

    // setting marker location
    var school = [{{ school.geometry.y }}, {{ school.geometry.x }}];

    // parsing hidden home location field
    var homeCoord = $("#id_location")
    .val()
    .substr(7, ($("#id_location").val().length - 8))
    .split(" ");

    // if we have a home location, render it
    if (parseFloat(homeCoord[0]) === 0) {
        var home = new L.LatLng({{ school.geometry.y }}+0.002, {{ school.geometry.x }}-0.002);
    } else {
        var home = new L.LatLng(homeCoord[1], homeCoord[0]);
    }
    // setting school id
    $("#id_school").val({{ school.id }});

{% else %}

    var school = new L.LatLng(42.34, -71.0);
    var home = new L.LatLng(42.335, -70.995);

{% endif %}

    map = L.map('map_canvas').setView(school, 14);

    var roads = new L.Google('ROADMAP');
    var sat = new L.Google('HYBRID');
    map.addLayer(roads);

    var baseMaps = {"Roads": roads, "Satellite": sat};
    L.control.layers( baseMaps, {} ).addTo(map);

    var iconSchool = L.icon({
        iconUrl: "{{ STATIC_URL }}img/school.png",
        iconSize: [32, 37],
        iconAnchor: [16, 37],
        popupAnchor: [0, -30]
    });

    var markerSchool = L.marker(school, {
        icon: iconSchool, title: "Your school"
    }).addTo(map);

    var iconHome = L.icon({
        iconUrl: "{{ STATIC_URL }}img/home.png",
        iconSize: [32, 37],
        iconAnchor: [16, 37],
        popupAnchor: [0, -30]
    });

    var markerHome = null;

    var save_location = function(latlng){
        // write loc coord to hidden geometry field (in WGS84)
        $("#id_location").val("POINT (" + latlng.lng + " " +  latlng.lat + ")");
        // validate location
        validation["marker"] = true;
    };

    set_home = function(latlng){
        if (intersections)
            map.removeLayer(intersections);
        save_location(latlng);

        if (markerHome != null)
            map.removeLayer(markerHome);

        markerHome = L.marker(latlng, {
            icon: iconHome, draggable: true, title: "Your approximate home location"
        }).addTo(map);

        markerHome.on('dragend', function(e){
            save_location(markerHome.getLatLng());
        });
    }

    map.on('click', function(e) {
        set_home(e.latlng);
    });

    /***********************
     *  children formsets  *
     ***********************/

    var nrChildForms = $("#id_child_set-TOTAL_FORMS").val() - 1;

    // child-form counter
    // FIXME: count childforms, otherwise errorform breaks
    var childCount = 0;

    // form validation: min information is location and child mode
    var validation = {
        "formerror":{% if formerror %} true {% else %} false {% endif %},
        "marker": false // location not set
    };

    $("#surveyform").submit(function() {
        // check location field
        if ($("#id_location").val() === "POINT (0.0000000000000000 0.0000000000000000)") {
            validation.marker = false;
        } else {
            // required for django validation error page-reload
            validation.marker = true;
        }

        // no location provided, harder to check with django form validation
        if (validation.marker === false && ($("#id_street").val() === "" || $("#id_cross_st").val() === "")) {
            alert("Please provide your street information.");
            return false;
        }
   });

    // dropoff detail functionality
    $.fn.dropoffDetails = function(child) {
        // reset and hide id_child_set-0-dropoff_to|_from fieldset
        $("#id_child_set-" + child + "-dropoff, #id_child_set-" + child + "-pickup")
        .each(function(index) {
            $(this).parentsUntil("#id_child_set-" + child).hide();
        });
        // bind change event to travelmode fields
        $(this).change(function() {
            // check for direction if child pickup or dropoff
            direction = ($(this).attr("id").indexOf("from_school") >= 0) ? "pickup" : "dropoff";
            // check if selected value is in list of modes
            if ( $.inArray($(this).val(), ["fv", "cp"]) >= 0 ) { // show additional question
                $("#id_child_set-" + child + "-" + direction).parentsUntil("#id_child_set-" + child).show(500);
            } else { // hide and clear value
                $("#id_child_set-" + child + "-" + direction).parentsUntil("#id_child_set-" + child).hide(500);
                $("#id_child_set-" + child + "-" + direction).val("");
            }
        });
    }

    // FIXME: create a function for checking dropoff/pickup options

    // add another child
    $("#button_addchild").click(function() {

        // clone last child-form
        var $childformClone = $("#id_child_set-" + childCount).clone();

        // update form attributes in clone to new child
        $childformClone
        .attr("id", "id_child_set-" + (childCount+1))
        .find("input,select,label")
        .each(function(index) {
            if ($(this).is("select") || $(this).is("input")) {
                newId = $(this).attr("id").replace("id_child_set-" + childCount,"id_child_set-" + (childCount+1));
                newName = $(this).attr("name").replace("child_set-" + childCount,"child_set-" + (childCount+1));
                $(this)
                .attr("id", newId)
                .attr("name", newName);
            }
            if ($(this).is("label")) {
                newAttr = $(this).attr("for").replace("id_child_set-" + childCount,"id_child_set-" + (childCount+1));
                $(this).attr("for", newAttr);
            }
        });

        // append clone to page
        $childformClone.appendTo("#children").slideDown(500);
        $('html, body').animate({
            scrollTop: $childformClone.offset().top - 50
        }, 500);
        // bind dropoffDetail function to cloned form
        $("#id_child_set-" + (childCount+1) + "-from_school, #id_child_set-" + (childCount+1) + "-to_school").dropoffDetails(childCount+1);
        // increase counter
        childCount++;
        // update management form number (form-id count starts at, real number at 1, that's why it must be +1)
        $("#id_child_set-TOTAL_FORMS").val(childCount+1);
        // don't submit form
        return false;
    });

    // catch django form validation error page-reload
    // bind dropoffDetail function to start form
    if (!validation.formerror) $("#id_child_set-0-from_school, #id_child_set-0-to_school").dropoffDetails(0);

    // random order of modes
    $("#id_child_set-0-to_school, #id_child_set-0-from_school").shuffle();

    // hide and show optional street intersection fields
    $("#map").hide();
    $("#map_link").click(function () {
        $("#map").toggle(500);
        return false;
    });
    init_streets();
});


var view_intersections = function(){
    var street1 = $('#id_street').val();
    if (!street1){
        return;
    }
    var street2 = $('#id_cross_st').val();
    if (!street2){
        street2 = '';
    }
    $.getJSON('/{{school.pk}}/intersection/'+street1+'/'+street2+'/', function(data){
        if (intersections != null)
            map.removeLayer(intersections);
        console.log(data.features.length);
        if (data.features.length == 1){
            var coord = data.features[0]['geometry']['coordinates'];
            var ll = new L.LatLng(coord[1], coord[0]);
            set_home(ll);
            var bounds = map.getBounds();
            bounds.extend(ll)
            map.fitBounds(bounds);
        }else if (data.features.length > 1){
            intersections = L.geoJson(data,{
                onEachFeature: function (feature, layer) {
                    var msg = "<h4>Intersection</h4>";
                    msg += feature.properties.street1 + " and ";
                    msg += feature.properties.street2;
                    var lon = feature.geometry.coordinates[0];
                    var lat = feature.geometry.coordinates[1];
                    var js = 'set_home(new L.LatLng('+lat+','+lon+')); return false;';
                    msg += '<p><a class="btn btn-small" href="#" onClick="'+js+'">Make Home</a></p>';
                    layer.bindPopup(msg);
                }
            }).addTo(map);
            var bounds = map.getBounds();
            bounds.extend(intersections.getBounds())
            map.fitBounds(bounds);
        }
    });
}

var update_cross = function(e) {
    var street = $('#id_street').val();
    if (!street){
        return;
    }
    var q = $("#id_cross_st option:selected").val();
    if (!q){
        q = '';
    }
    // get schools for given district-id
    $.getJSON('/{{school.pk}}/crossing/'+street+'/'+q+'/', function(streets) {
        // clear previouse dropdown options
        $("#id_cross_st option").remove();
        // append new schools to dropdown
        $("<option value=''></option>").appendTo("#id_cross_st");
        $.each(streets, function(id, street) {
            $("<option value='" + street + "'>" + street + "</option>").appendTo("#id_cross_st");
        });
        $("#id_cross_st").trigger("liszt:updated");
    });
};

var select_opts = {
    allow_single_deselect: true,
    disable_search_threshold: 10
}

var init_streets = function(){
    $("#id_street").chosen(select_opts).change(function(e) {
        var q = $("#id_street option:selected").val();
        if (q == undefined){
            q = '';
        }

        $("#id_cross_st option:selected").val(null)
        view_intersections();
        update_cross();
    });

    $.getJSON("/{{school.pk}}/streets/", function(streets) {
        // append new schools to dropdown
        $("<option value=''></option>").appendTo("#id_street");
        $.each(streets, function(id, street) {
            $("<option value='" + street + "'>" + street + "</option>").appendTo("#id_street");
        });
        $("#id_street").trigger("liszt:updated");
    });

    $("#id_cross_st").chosen(select_opts).change(view_intersections);

    $("#id_street").chosen().change();
}

</script>

{% endblock %}

{% block container %}

{% if school %}
<div class='row-fluid'>
    <h3>{{ school.name }}</h3>

    <p class="text-info"><h4>{{message}}</h4></p>

</div>
<div class='row-fluid'>
    <form id="surveyform" action="." method="POST" class='form-inline span12'>

        {% csrf_token %}

        {{ surveyformset.management_form }}

        {% if surveyform.non_field_errors %}
           <div class="alert alert-block alert-error fade in">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">Survey error</h4>
            {% for err in surveyform.non_field_errors %}
                <p>{{ err }}</p>
            {% endfor %}
          </div>
        {% endif %}

        <fieldset>
            <p>
                <a href="#" id="map_link">
                    Show Map
                </a>
            </p>
            <div id='map'>
                <div id="map_canvas">map div</div>
                <p id="map_legend" class="small">
                    <img src="{{ STATIC_URL }}img/home.png" height="27" alt="Home marker" > ... {% blocktrans %}home{% endblocktrans %}
                    <img src="{{ STATIC_URL }}img/school.png" height="27" alt="Home marker" > ... {{ school.name }}
                </p>
            </div>
            <div id="intersection_fields">
                <div class="control-group">
                    <div class="controls">
                        {{ surveyform.street.errors }}
                        <label class="control-label span7 pull-left" for="id_street">{% trans surveyform.street.label %}</label>
                        {{ surveyform.street }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        {{ surveyform.cross_st.errors }}
                        <label class="control-label span7 pull-left" for="id_cross_st">{% trans surveyform.cross_st.label %}</label>
                        {{ surveyform.cross_st }}
                    </div>
                </div>
            </div>

            {{ surveyform.location }}

        </fieldset>

        <input type='hidden' id="id_child_set-TOTAL_FORMS" style='display:none;' value='{{ surveyformset.forms|length }}'/>

        <div id="children">

            {% for form in surveyformset.forms %}

            <fieldset id="id_child_set-{{forloop.counter0}}">
                {% for field in form %}
                    {% if not field.is_hidden %}
                        <div class="control-group {% if field.errors %}error{% endif %}">
                            <div class="controls">
                                <label class="control-label span7 pull-left" for="{{field.auto_id}}">
                                    {{ field.label|safe }}
                                </label>
                                {{ field }}
                                <span class='help-inline'>
                                {% for error in field.errors %}
                                    {{ error|escape }}.&nbsp;
                                {% empty %}
                                    {% if field.field.required %}
                                    (<span class="required_field">required</span>)
                                    {% endif %}
                                {% endfor %}
                                </span>
                            </div>
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
            </fieldset>

            {% endfor %}

        </div>

        <fieldset>
            <div class="control-group {% if surveyform.nr_vehicles.errors %}error{% endif %}">
                <div class="controls">
                    <label for="{{ surveyform.nr_vehicles.auto_id }}" class="control-label span7">
                        {% trans surveyform.nr_vehicles.label %}
                    </label>
                    {{ surveyform.nr_vehicles }}
                    <span class='help-inline'>
                        {% for error in surveyform.nr_vehicles.errors %}
                            {{ error|escape }}.&nbsp;
                        {% endfor %}
                    </span>
                </div>
            </div>
            <div class="control-group {% if surveyform.nr_licenses.errors %}error{% endif %}">
                <div class="controls">
                    <label for="{{ surveyform.nr_licenses.auto_id }}" class="control-label span7">
                        {% trans surveyform.nr_licenses.label %}
                    </label>
                    {{ surveyform.nr_licenses }}
                    <span class='help-inline'>
                    {% for error in surveyform.nr_licenses.errors %}
                        {{ error|escape }}.&nbsp;
                    {% endfor %}
                    </span>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <div class='control-group'>
                <label class="control-label span7 pull-left"></label>
                <div class="controls">
                    <button id="button_submit" type="submit" class="btn btn-primary btn-large">{% trans "Submit Survey" %}</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endif %}

{% endblock %}