{% extends "base.html" %}
{% load i18n %}

{% block javascript %}
<link rel="stylesheet" href="{{ STATIC_URL }}js/chosen/chosen.min.css">
<script src="{{ STATIC_URL }}js/chosen/chosen.jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {

    // initiate chosen dropdown UIs
    $(".chzn-select").chosen();

    // get schools for selected district
    $("#district-select").chosen().change(function(e) {
        var districtid = $("#district-select option:selected").val();
        // get schools for given district-id
        $.getJSON("/{{LANGUAGE_CODE}}/" + districtid + "/schools/", function(schools) {
            // clear previouse dropdown options
            $("#school-select option").remove();
            // append new schools to dropdown
            $.each(schools, function(id, school) {
                $("<option value='" + school.url + "'>" + school.name + "</option>").appendTo("#school-select");
            });
            // refresh chosen UI
            $("#school-select").trigger("liszt:updated");
            // call change function to set initial school url
            $("#school-select").chosen().change();
        });
    });

    // go to school survey form
    $("#open-survey").click(function() {
        schoolurl = $("#school-select option:selected").val();
        window.location = schoolurl;
        return false;
    });

    // call change function to load initial schools
    $("#district-select").chosen().change();

    //Popover
    $("[rel=popover]").popover({placement:'top', html:true});;
});
</script>

{% endblock %}

{% block container %}
<div class="row-fluid">
    <div class="span12 columns">
        <p><img src="{{ STATIC_URL }}img/MySC_Banner.jpg" width="940" height="160" alt="MySchoolCommute.org" /></p>
    </div>
</div>
<div class="row-fluid">
    <div class="span12 columns">
        <p>{% blocktrans %}Would you like to help create safe routes to school for students in your community?{% endblocktrans %}</p>
        <p>{% blocktrans %}The survey takes less than 3 minutes and will help your school plan for more transportation choices. All responses are voluntary and confidential.{% endblocktrans %}</p>

        <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#about">
            {% trans "More information about the survey..." %}
        </button>
        <div id="about" class="collapse">
            <p>{% blocktrans %}The Massachusetts Safe Routes to School (SRTS) program partners with schools throughout the Commonwealth  to help reduce traffic congestion and air pollution near schools while increasing the health, safety, and physical activity of students. Evaluating trends in how students and families travel to and from school is a key component to building a successful Safe Routes to School program.  Parent responses to this survey provide valuable information and help determine how we can improve the environment around the school, target investments, track progress toward goals and ultimately develop local programs that benefit students, parents and our communities.{% endblocktrans %}
            </p>
            <p>{% blocktrans %}To learn more about your school’s efforts or to find out how to get involved, visit MassDOT’s Safe Routes to School Program at <a href='http://www.commute.com/schools/'>www.commute.com/schools/</a> or call us at 857-368-8638.{% endblocktrans %}
            </p>
        </div>
        <br/>
        <h4>{% trans "Take the Survey" %}</h4>
    </div>
</div>
<div class="row-fluid">
    <div class="span6 columns">
        <h3>{% trans "Please select your school district" %}</h3>
        <p>{% trans "Scroll or start typing your district name" %}</p>
        <div class="input index">
            <select id="district-select" class="chzn-select" style="width: 350px;">
                {% for district in districts %}<option value="{{ district.districtid }}">{{ district.distname }}</option> {% endfor %}
            </select>
        </div>
    </div>

    <div class="span6 columns">
        <h3>{% trans "Please select your school" %}</h3>
        <p>Scroll or start typing your school name</p>
        <div class="input index">
            <select id="school-select" class="chzn-select" style="width: 350px;" tabindex="2"></select>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span8 columns offset6">
        <br/>
        <a id="open-survey" href="#" class="btn btn-primary large" tabindex="3">{% trans "Open School Survey Form" %}</a>
        <br/><br/>
        <a href="#" class="btn" rel="popover" data-toggle="popover" data-placement="top" data-content="{% blocktrans %}All Massachusetts schools can use the survey tool free of charge, but only districts and schools with an active survey underway are listed. Interested parents should check with their local Safe Routes to School coordinator to learn about upcoming surveys. School officials who would like to use this site should begin by registering for an account and contacting Safe Routes to School at 857-368-8638.{% endblocktrans %}" title="{% trans "My school isn’t on the list" %}">{% trans "My school isn’t on the list" %}</a>
    </div>
</div>

<div class='row-fluid footer-row'>
    <div class="span2 offset3 footer-span">
        <img src='{{STATIC_URL}}/img/2010 SRTS Logo.jpg'>
    </div>
    <div class="span2 footer-span">
        <img src='{{STATIC_URL}}/img/MassDOT_Logo_Color.png'>
    </div>
    <div class="span2 footer-span">
        <img src='{{STATIC_URL}}/img/MAPC_Logo-Name_CMYK.JPG'>
    </div>
</div>
{% endblock %}