{% extends "base.html" %}
{% load i18n %}

{% block javascript %}
<link rel="stylesheet" href="{{ STATIC_URL }}js/chosen/chosen.css">
<script src="{{ STATIC_URL }}js/chosen/chosen.jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">	
$(document).ready(function() {
	
	// initiate chosen dropdown UIs	
	$(".chzn-select").chosen();	

	// get schools for selected district
	$("#district-select").chosen().change(function(e) {
		districtid = $("#district-select option:selected").val();
		// get schools for given district-id
		$.getJSON("/" + districtid + "/schools/", function(schools) {
			// clear previouse dropdown options
			$("#school-select option").remove();
			// append new schools to dropdown
			$.each(schools, function(id, school) {
				$("<option value='" + school.url + "'>" + school.name + "</option>").appendTo("#school-select");
			});
			// refresh chosen UI
			$("#school-select").trigger("liszt:updated");
			// call change function to set initial school url
			$("#school-select").chosen().change();
		});
	});
	
	// go to school survey form
	$("#open-survey").click(function() {
		schoolurl = $("#school-select option:selected").val();
		window.location = schoolurl;
		return false;
	});
	
	// call change function to load initial schools
	$("#district-select").chosen().change();
	
});
</script>

{% endblock %}

{% block body %}
<div class="row">
	<div class="span12 columns">
		<p><img src="{{ STATIC_URL }}img/header.jpg" width="940" height="160" alt="MySchoolCommute.org" /></p>
	</div>
</div>
<div class="row">
	<div class="span12 columns">
		<p>We'd like to learn how students get to and from school in order to help plan safe and healthy walking options for students.</p>
		<p>This 3-minute parent survey was developed by the <a href="" title="Metropolitan Area Planning Council">Metropolitan Area Planning Council (MAPC)</a>, 
			the regional planning agency for Metro Boston, and <a href="http://www.walkboston.org/" title="WalkBoston">WalkBoston</a>, a nonprofit organization, as an innovative and simple web tool that schools can use 
			to learn about student mode choice. Funding for this project was provided by the <a href="http://www.barrfoundation.org/" title="Barr Foundation">Barr Foundation</a>.
		</p>	
		<p>The survey tool is available for 101 school districts in the MAPC region, in addition to Lowell, Fitchburg. For a complete list of districts 
			and schools for which the survey tool is available please see below. If your school or district would like to participate or if you'd like 
			additional information please click here for more information or contact MAPC.
		</p>
	</div>
</div>
<div class="row">
	<div class="span6 columns">
		<h3>{% trans "Please select your school district" %}</h3>
		<p>Scroll or start typing your district name</p>
		<div class="input index">
			<select id="district-select" class="chzn-select" style="width: 350px;" tabindex="1">
				{% for district in districts %}<option value="{{ district.districtid }}">{{ district.distname }}</option> {% endfor %}
			</select>
		</div>
	</div>
	
	<div class="span6 columns">
		<h3>{% trans "Please select your school" %}</h3>
		<p>Scroll or start typing your school name</p>		
		<div class="input index">
			<select id="school-select" class="chzn-select" style="width: 350px;" tabindex="2"></select>
		</div>
	</div>
</div>
<div class="row">
	<div class="span8 columns offset6">
		<br/>
		<a id="open-survey" href="#" class="btn btn-primary large" tabindex="3">Open School Survey Form</a>
	</div>
</div>
{% endblock %}