Django==1.5
Fiona==0.14
GDAL==1.9.1
Shapely==1.2.17
South==0.8.1
django-crispy-forms==1.2.8
django-dbgettext==0.1
django-debug-toolbar==0.9.4
django-localeurl==1.5
django-rosetta==0.6.2
psycopg2==2.4.2