{% load i18n %}
{% load localeurl_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}WalkBoston To School Parent Survey</title>
	<meta name="description" content="WalkBoston To School Parent Survey">
	<meta name="keywords" content="Boston, Metro, Planning, Education, Survey, Pedestrian, Walking">
	<meta name="author" content="MAPC">
        
    <!-- geotags -->
	<meta name="DC.title" content="to school"> 
	<meta name="geo.placename" content="Boston">
	<meta name="geo.position" content="42.34;-71.08">
	<meta name="geo.region" content="US-MA">
	<meta name="ICBM" content="42.34;-71.08">
	
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint-css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint-css/blueprint/print.css" type="text/css" media="print">
	<!--[if lt IE 8]>
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint-css/blueprint/ie.css" type="text/css" media="screen, projection">
	<![endif]-->
	
	<style type="text/css">
	.langmenu ul {
		list-style-type: none;
		margin-left: auto;
	}
	.langmenu li {
		float: left;
		margin-right: 10px;
		margin-left: 10px;
	}
	.ar {
		text-align: right;
	}
	
	{% block style %}{% endblock %}
	</style>
	
	{% block javascript %}{% endblock %}
		
</head>
<body>
	
	<div id="wrap">
		<div class="container">
			
		<div class="prepend-2 span-20 append-2 append-bottom prepend-top small langmenu last">
		
			<ul>	
				{% for lang in LANGUAGES %}
			        {% ifequal lang.0 LANGUAGE_CODE %}
			            <li class="selected">{{ lang.1 }}</li>
			        {% else %}
			            <li><a href="{{ request.path|chlocale:lang.0 }}">{{ lang.1 }}</a></li>
			        {% endifequal %}
		    	{% endfor %}
			</ul>
			
		</div>
	
		{% block body %}{% endblock %}
		
		</div>
	</div>
	
</body>
</html>